<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tasks"> </ion-back-button>
    </ion-buttons>
    <ion-title>developer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        <ion-icon slot="start" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="task">
    <ion-item>
      <ion-label position="stacked">Name task</ion-label>
      <ion-input type="text" [(ngModel)]="task.task" placeholder="name task"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Priority</ion-label>
      <ion-input type="text" [(ngModel)]="task.priority" placeholder="priority of the task"></ion-input>
    </ion-item>
    <ion-button (click)="update()" expand="block" fill="clear" shape="round">
      Update
    </ion-button>
  </div>

</ion-content>
